@font-face{
    font-family: 'Open Sans Regular';
    src: url('./fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight:500;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    padding: 0;
    margin:0;

    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    left:0;
    top:0;
    width:100vw;
    height:100vh;

    overflow-y:hidden;
    scrollbar-width: none;
} 


.nodeCard{
    display:block;
    position:absolute;
    width:max-content;
    height:max-content;
    min-width:100px;
    max-width:250px;
    /* max-height:200px; */
    padding:10px 15px;
    background: linear-gradient(to bottom, rgb(38, 37, 36), rgb(32,32,32));
    box-shadow: 2px 2px 8px rgba(0,0,0, .12);
    border-radius:12px;

    opacity: 0;
    transition: .3s ease-out;
}

.nodeCard * {
    position:relative;
}

.date{
    font-family:'Open Sans';
    font-weight:600;
    text-transform: uppercase;
    color: rgb(99, 99, 107);
    font-size:12px;
    margin-bottom:8px;
}

h3{
    font-family:'Open Sans';
    font-weight:700;
    font-size:18px;
    color:rgb(222, 222, 233);
    margin-bottom:8px;
}

h4{
    margin-top:8px;
    font-family:'Open Sans';
    font-weight:600;
    font-size:12px;
    text-transform: uppercase;
    color:rgb(150, 150, 160); 
}

h3 + p{
    font-family:'Open Sans';
    font-weight:300;
    font-size:14px;
    color: rgb(175, 175, 187);
}

.visible{
    opacity:1 !important;
    transition: .3s ease-out;
}

#iconsBar{
    position:fixed;
    top:1vh;
    left:1vh;
    width:100px;
    height:98vh;

    display:grid;
    justify-content: center;
    /* padding-top:20px;
    padding-bottom:20px; */
    --gray: 22 ;
    background-color:rgb(var(--gray),var(--gray),var(--gray));
    border-radius:8px;
    /* box-shadow: 2px 2px 8px rgba(255,255,255,.12); */
}

.icon{
    width:32px;
    height:32px;
    background-size:cover;
    filter: brightness(0.7) invert(.7)  hue-rotate(120deg) saturate(100%);
}

.facebook{ background-image: url('./data/icons/svg/facebook.svg') }
.twitter{ background-image: url('./data/icons/svg/twitter.svg') }
.instagram{ background-image: url('./data/icons/svg/instagram.svg') }
.linkedin{ background-image: url('./data/icons/svg/linkedin.svg') }
.pinterest{ background-image: url('./data/icons/svg/pinterest.svg') }
.tiktok{ background-image: url('./data/icons/svg/tiktok.svg') }
.google+{ background-image: url('./data/icons/svg/googleplus.svg') }
.youtube{ background-image: url('./data/icons/svg/youtube.svg') }
.snapchat{ background-image: url('./data/icons/svg/snapchat.svg') }